h2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h3{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
h1{
    color: rgb(20, 20, 20);
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
}
h5{
    color: gold;
 font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0,0001px;
}
.nutbam1{
   background-color: gold; 
    width: 400px;
    height: 255px;
    color: white;
    font-size: 15px;
    margin-left: 40px;
    container a {
    padding: .2em;
}
.nutbam2{
    background-color: gold; 
    width: 400px;
    height: 255px;
    color: white;
    font-size: 15px;
    margin-left: 40px;
    container a {
    padding: .8em;
  }
}
