body {
  color: #fff;
  background: hsl(227, 10%, 10%);
  font: 300 1em 'Fira Sans', sans-serif;
h2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 15px;
}
h3{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
h1{
    color: rgb(20, 20, 20);
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
}
h5{
    color: gold;
 font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0,0001px;
}
.nutbam1{
    width: 400px;
    height: 255px;
    color: gold;
    font-size: 15px;
    border-radius: 10px;
}
.nutbam2{ 
    width: 400px;
    height: 255px;
    color: gold;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 40px;
}
